<ion-item>
  <ion-col class="ion-text-center" size="3"><small>Hero</small></ion-col>
  <ion-col class="ion-text-center" size="2"><small>Player</small></ion-col>
  <ion-col class="ion-text-center" size="2"><small>Level</small></ion-col>
  <ion-col class="ion-text-center" size="3"><small>K/D/A</small></ion-col>
  <ion-col class="ion-text-center" size="2"><small>Lane</small></ion-col>
</ion-item>
<div *ngIf="!team">
  <ion-item *ngFor="let player of [0,1,2,3,4]; let i = index" lines="full">
    <ion-grid class="p0">
      <ion-row>
        <ion-col size="3" class="p0">
          <ion-skeleton-text class="hero-avatar"></ion-skeleton-text>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <small class="link-like">
            <ion-skeleton-text></ion-skeleton-text>
          </small>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <small><ion-skeleton-text></ion-skeleton-text></small>
        </ion-col>
        <ion-col size="3" class="ion-text-center">
          <small>
           <ion-skeleton-text></ion-skeleton-text>
          </small>
        </ion-col>
        <ion-col size="2" class="ion-text-center">
          <small><ion-skeleton-text></ion-skeleton-text></small>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</div>

<ion-item *ngFor="let player of team; let i = index" lines="full" (click)="togglePlayerDetails(player.playerSlot)">
  <ion-grid class="p0">
    <ion-row>
      <ion-col size="3" class="p0" (click)="openHeroDetailModal(player.heroId, $event)">
        <img class="hero-avatar" src="{{'https://cdn.cloudflare.steamstatic.com' + getHeroAvatarById(player.heroId)}}"
             alt="../../../assets/no_img.png">
      </ion-col>
      <ion-col size="2" class="ion-text-center" (click)="goToPlayerOverview(player.accountId)">
        <small class="link-like">{{player.personaName}}</small>
        <small *ngIf="!player.personaName">-</small>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <small>{{player.level}}</small>
      </ion-col>
      <ion-col size="3" class="ion-text-center">
        <small>
          <span class="k-color">{{player.kills}}</span>/<span class="d-color">{{player.deaths}}</span>/{{player.assists}}</small>
      </ion-col>
      <ion-col size="2" class="ion-text-center">
        <small>{{getLaneDescription(player)}}</small>
      </ion-col>
    </ion-row>
    <div id="player_details_{{player.playerSlot}}" class="accordion-start">
      <ion-content style="height: 250px;">
      <ion-slides pager="true">
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="5"><small>Inventory</small></ion-col>
              <ion-col size="2" class="ion-text-center"><small></small></ion-col>
              <ion-col size="5"><small>Backpack</small></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="5">
                <ion-row>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item0, $event)">
                    <img src="{{getItemImage(player.item0)}}" #inv0 (error)="showDefaultImg(inv0)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item0)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item1, $event)">
                    <img src="{{getItemImage(player.item1)}}" #inv1 (error)="showDefaultImg(inv1)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item1)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item2, $event)">
                    <img src="{{getItemImage(player.item2)}}" #inv2 (error)="showDefaultImg(inv2)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item2)}}</div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item3, $event)">
                    <img src="{{getItemImage(player.item3)}}" #inv3 (error)="showDefaultImg(inv3)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item3)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item4, $event)">
                    <img src="{{getItemImage(player.item4)}}" #inv4 (error)="showDefaultImg(inv4)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item4)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.item5, $event)">
                    <img src="{{getItemImage(player.item5)}}"  #inv5 (error)="showDefaultImg(inv5)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.item5)}}</div>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="1" class="inventory-p-neutral" (click)="openItemDetailModal(player.itemNeutral, $event)">
                <img src="{{getItemImage(player.itemNeutral)}}" class="image-neutral"
                     #invNeu (error)="showDefaultImg(invNeu)">
              </ion-col>
              <ion-col size="1"></ion-col>
              <ion-col size="5">
                <ion-row>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.backpack0, $event)">
                    <img src="{{getItemImage(player.backpack0)}}" #bp0 (error)="showDefaultImg(bp0)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.backpack0)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.backpack1, $event)">
                    <img src="{{getItemImage(player.backpack1)}}" #bp1 (error)="showDefaultImg(bp1)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.backpack1)}}</div>
                  </ion-col>
                  <ion-col class="inventory-p ion-text-center" size="4" (click)="openItemDetailModal(player.backpack2, $event)">
                    <img src="{{getItemImage(player.backpack2)}}" #bp2 (error)="showDefaultImg(bp2)"/>
                    <div class="time-overlay">{{getBuyTime(i, player.backpack2)}}</div>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><small>Buffs</small></ion-col>
            </ion-row>
            <ion-row style="margin-bottom: 5px;">
              <ion-col *ngFor="let buff of player.permanentBuffs" class="buff buff-p ion-text-center" size="2" (click)="handleBuffClick(buff.permanentBuff, $event)">
                <img class="buff-img" src="{{getBuffImgByBuffId(buff.permanentBuff)}}">
                <div class="buff-stack" *ngIf="buff.stackCount !== 0">{{buff.stackCount}}</div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="!player.permanentBuffs || player.permanentBuffs.length === 0" style="margin-bottom: 5px;">
              <ion-col>-</ion-col>
            </ion-row>
            <br>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="12"><small>Stats</small></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><small><div>{{'Last hits: ' + player.lastHits}}</div></small></ion-col>
              <ion-col size="6"><small><div>{{'Denies: ' + player.denies}}</div></small></ion-col>
              <ion-col size="6"><small>{{'Gold per min: ' + player.goldPerMin}}</small></ion-col>
              <ion-col size="6"><small>{{'Exp per min: ' + player.xpPerMin}}</small></ion-col>
              <ion-col size="6"><small>{{'Hero dmg: ' + player.heroDamage}}</small></ion-col>
              <ion-col size="6"><small>{{'Hero heal: ' + player.heroHealing}}</small></ion-col>
              <ion-col size="6"><small class="y-color">{{'Wards: ' + (player.obsPlaced ? player.obsPlaced : '-')}}</small></ion-col>
              <ion-col size="6"><small class="b-color">{{'Sentries: ' + (player.senPlaced ? player.senPlaced : '-')}}</small></ion-col>
              <ion-col size="6"><small>{{'Tower dmg: ' + player.towerDamage}}</small></ion-col>
              <ion-col size="6"><small>{{'Buybacks: ' + (player.buybackCount ? player.buybackCount : '-')}}</small></ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col size="12"><small>Stats</small></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6"><small>{{'Stacks: ' + (player.campsStacked ? player.campsStacked : '-')}}</small></ion-col>
              <ion-col size="6"><small>{{'Pulls: ' + (player.creepsStacked ? player.creepsStacked : '-')}}</small></ion-col>
              <ion-col size="6"><small>{{'Courer kills: ' + (player.courierKills ? player.courierKills : '-')}}</small></ion-col>
              <ion-col size="6"><small>{{'Roshan kills: ' + (player.roshanKills ? player.roshanKills : '-')}}</small></ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </div>
  </ion-grid>
</ion-item>