.custom-badge {
  margin-bottom: 5vh;
  left: 1vh;
  position: fixed;
  color: var(--ion-color-primary-shade);
  background-color: white;
  border: 2px solid var(--ion-color-primary-shade);
  border-radius: 50px;
  font-size: x-small;
  padding: 0 5px 0.2vh;
}

.custom-avatar {
  margin-right: 3%;
}
