<app-head-toolbar [title]="'Friends'"></app-head-toolbar>
<ion-content>
  <ion-refresher #refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="doRefresh()">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="Pull to refresh"
                           refreshingSpinner="dots"
                           refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let friend of friends" lines="full" (click)="goToFriendOverview(friend.accountId)">
      <ion-avatar slot="start" class="custom-avatar">
        <img src="{{friend.avatarFull}}">
      </ion-avatar>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="4" style="overflow: hidden">
              <h3>{{friend.personaName}}</h3>
              <small>W%: <span [ngClass]="getCountColor(getWinPercentage(friend))">{{getWinPercentage(friend)}}</span></small>
            </ion-col>
            <ion-col size="4">
              <h3>Win / Tot</h3>
              <small>{{friend.win}} / {{friend.games}}</small>
            </ion-col>
            <ion-col size="4">
              <small>GPM: {{getAvgGpm(friend)}}</small>
              <br>
              <small>XPM: {{getAvgXpm(friend)}}</small>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="!friends || friends.length < 1 || onLoading">
    <ion-item *ngFor="let skeleton of skeletonList">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
              <h5><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h5>
            </ion-col>
            <ion-col>
              <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
              <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            </ion-col>
            <ion-col>
              <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
              <h4><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
